#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake --sourcedirectory=plugin

override_dh_auto_configure:
	mkdir -p .cargo
	echo '[source.crates-io]' > .cargo/config.toml
	echo 'replace-with = "debian"' >> .cargo/config.toml
	echo '[source.debian]' >> .cargo/config.toml
	echo 'directory = "/usr/share/cargo/registry"' >> .cargo/config.toml
	dh_auto_configure --sourcedirectory=plugin -- -DBUILD_TESTING=OFF

override_dh_clean:
	dh_clean
	rm -rf .cargo
